{
  "env": {
    "cjs": {
      "presets": [["@babel/preset-env", { "loose": true }]],
      "plugins": [["add-module-exports"]]
    },
    "es": {
      "presets": [["@babel/preset-env", { "loose": true, "modules": false }]]
    }
  }
}
